<h1>Add your Photos here</h1>
<form action="/create_photo">
  <label for="image_url">Enter your image url</label>
  <input type="text" name="image_url" value="" id="image_url">
  <label for="caption">Enter your caption</label>
  <input type="text" name="caption" value="" id="caption">
  <input type="submit">
</form>
